rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /perfis/{uid} {
      allow get: if request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.uid == uid;
      allow list, create, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}