<nav class="jamboree-nav" aria-label="Navegação do Jamboree 2027">
    <a href="{{ '/jamboree/geral.html' | relative_url }}" class="{% if page.url == '/jamboree/geral.html' %}ativo{% endif %}">Visão geral</a>
    <a href="{{ '/jamboree/informacoes.html' | relative_url }}" class="{% if page.url == '/jamboree/informacoes.html' %}ativo{% endif %}">Informações</a>
    <a href="{{ '/jamboree/newsletter.html' | relative_url }}" class="{% if page.url == '/jamboree/newsletter.html' %}ativo{% endif %}">Newsletters</a>
</nav>
